@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root {
  --border-radius: 0.3125em; /* 5px */

  --flashcard-background-color: rgb(50, 50, 50);
  --flashcard-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);

  --color-background: rgb(30, 30, 30);
  --color-background-highlight: rgb(240, 240, 240);
  --color: rgb(240, 240, 240);
  --color-highlight: rgb(30, 30, 30);
  --color-border: lightgray;
  --color-border-highlight: rgb(75, 75, 75);
  --color-caution: rgb(255, 0, 0);

  --font-name: "Noto Sans Mono";
  --font-family: "Noto Sans Mono", Monospace, Arial, Helvetica, Times;
  --font-size-small: 0.75em; /* 12px */
  --font-size-regular: 0.875em; /* 14px */
  --font-size-header: 1em; /* 16px */

  --screen-min-width: 48em; /* 768px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: var(--color-background);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size-regular);
}

#app-header {
  align-items: center;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color);
  display: flex;
  left: 0;
  min-height: 3.125em;
  overflow: none;
  padding: 0.3125em;
  position: sticky;
  top: 0;
  z-index: 3;
}

#app-header h1,
#app-header nav {
  flex: auto;
}

#app-header h1 {
  justify-content: start;
}

#app-header nav {
  display: flex;
  justify-content: end;
}

#app-header button {
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: pointer;
  margin: 5px;
  outline: none;
  padding: 10px;
}

#app-header button:hover{
  background: var(--color-background-highlight);
  color: var(--color-highlight);
}

#app-form {
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: var(--flashcard-box-shadow);
  color: var(--color);
  display: none;
  flex-flow: column nowrap;
  height: 210px;
  margin:auto;
  margin-top: 20px;
  overflow: hidden;
  padding: 10px;
  width: 370px;
}

#app-form header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#app-form header h2,
#app-form header i {
  flex: auto;
}

#app-form header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-form header i {
  align-items: center;
  display: flex;
  flex: 0 0 10%;
  height: 25px;
  justify-content: center;
  font-size: var(--font-size-header);
  color: var(--color);
}

#app-form header i:hover {
  color: var(--color-caution);
}

#app-form div,
#app-form footer {
  flex: auto;
  overflow: hidden;
}

#app-form div input,
#app-form footer button {
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color);
  font-family: inherit;
  margin: 5px;
  padding: 5px;
  width: 95%;
}

#app-form div input:focus,
#app-form div input:hover,
#app-form div input:active,
#app-form footer button:focus,
#app-form footer button:hover {
  background: var(--color-background-highlight);
  border: 1px solid var(--color-border-highlight);
  color: var(--color-highlight);
  box-shadow: var(--flashcard-box-shadow);
}

main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flashcard {
  height: 180px;
  margin: 5px;
  padding: 5px;
  perspective: 1000px;
  width: 360px;
  z-index: 1;
}

.flashcard-wrapper {
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;
}

.flashcard-back,
.flashcard .flashcard-flip {
  transform: rotateY(180deg);
  position: relative;
  left: -10;
  right: 0;
}

.flashcard-face {
  -webkit-backface-visibility: hidden;
  background: var(--flashcard-background-color);
  backface-visibility: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--flashcard-box-shadow);
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.flashcard-front,
.flashcard-back {
  margin: 10px;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.flashcard-back {
  font-size: var(--font-size-small);
}

.flashcard header {
  color: var(--color);
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 2;
}

.flashcard header i:focus,
.flashcard header i:hover {
  color: var(--color-caution);
}

@media(max-width:768px){
  .flashcard{margin: auto;}

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  main {
    flex-flow: column nowrap;
  }
}

@media(max-width:480px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  #app-form{width: 95%;}

  .flashcard{width: 100%;}

}
